/**
 * Base Styles
 *
 * @format
 */

/* Navigation Bar */
.navigation {
	background-color: #222; /* Dark automotive-style color */
	position: fixed; /* Fix at the top */
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000; /* Keep navbar on top */
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* More prominent shadow */
	border-bottom: 2px solid #444; /* Adds a nice separator */
	transition: background-color 0.3s ease-in-out; /* Smooth transition on hover */
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.options {
	display: flex;
	flex-direction: row;
	list-style: none;
	column-gap: 100px;
	padding: 0;
}
/* Make navbar links look sleek and modern */

.offers {
	color: white;
}

.offers:hover {
	font-size: 400;
	color: #facc15;
}

.list {
	list-style: none;
	padding: 0;
}

.option-leistung {
	color: #000080;
}
